body{
    margin: 0;
    padding: 0;
}



.logo{
    text-align: center;
}
h1{
    font-size: 45px;
    text-align: center;
}

header{
    height: 300px;
    background-image: linear-gradient( #A699E8, #C4DFFF);
}
main{
    height: 500px;
}
.text1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.text2{
    font-size: 20px;
    padding: 15px;
}

footer{
    height: 250px;
    background-image: linear-gradient( #C4DFFF, #A699E8);
}